{% extends "base.html" %}
{% block content %}
<a id="documentation" href="http://cactusformac.com/redirect/#documentation">Documentation</a>
  
<section id="wrapper">
  <p class="center">The <strong>default template</strong> is a barebones starting point for your project. <br/> It has all the files you need to set up a website, yet barely any pre-defined styles. If you’d like to start from scratch, this one’s for you.</p> 
</section>
{% endblock content%}

<!-- test comment -->
